@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;900&display=swap');
body{font-size:16px;font-family: 'Fira Sans', sans-serif;font-weight:400;margin: 0}
h1,h2,h3,h4,h5,h6,a{font-weight:900;color:#FCB315}


header{height:60px;line-height: 60px;background-color:rgba(6,0,36,0.8);position:fixed;width:100%;top:0}

.menu ul{padding: 0;margin: 0;list-style: none;display: flex}
.menu ul li a{padding:0 20px;display: block;color:#FCB315}
.menu ul li a:hover{color:#009D7B}


#home{min-height:600px;background:url("../images/bg1.png");background-color:#060024;background-repeat: no-repeat;background-position:center;color:white}


#thongtin{min-height:600px;background:url("../images/bg2.png");background-color:#192040;background-repeat: no-repeat;background-position:center;color:white}
.thongtin{width:480px;;min-height:100px;background:rgba(0,0,0,0.3);padding:20px;color:white;font-size:18px;text-align:center;border-radius: 20px}
.thongtin p{font-weight:600;font-size:20px}
.tt-phai{display: flex;position: relative}
.tt-phai-diabay{position: absolute}
.diabay-den1{position: absolute;left:85px;top:37px;z-index: 80}
.diabay-den2{position: absolute;left:148px;top:44px;z-index: 40}
.tt-phai-nguoihanhtinh{position: absolute;top:250px;right:150px}
.box{position: absolute;text-align: right;right:0;top:300px;z-index: 40}


#hocvan{min-height:600px;background:url("../images/bg3.png");background-color:#1D3A52;background-repeat: no-repeat;background-position:center;color:white}
h1{font-size:36px}
.hv1{display: flex;position: relative}
.hv2{position: absolute;top:1440px}


#kinhnghiem{min-height:600px;background:url("../images/bg4.png");background-color:#13525F;background-repeat: no-repeat;background-position:center}
.an{overflow: hidden}
.kn-phai{display: flex;position: relative}
.kn1{position:absolute;left:100px;top:30px;z-index:40}
.kn2{position: absolute;left:90px;top:20px;z-index:30}
.kn3{position:absolute;left:80px;top:10px;z-index:20}
.kn4{position: absolute;left:75px;z-index:10}



.thuvien{width:100%;height:auto}
.thuvien img{width:160px;height:auto;margin:5px 10px;border-radius: 25px}

.clip img{width:300px;height:auto;margin:10px}
.clip{width:300px;height:auto;margin:15px}
.clip p{font-size:17px;text-align:center;margin:0;font-weight:bold}



#thuvien{min-height:600px;background:url("../images/bg5.png");background-color:#006968;background-repeat: no-repeat;background-position:center;color:white}

.pt-30{padding-top:30px}
.pt-60{padding-top:60px}



#lienhe{min-height:600px;background:url("../images/bg6.png");background-color:#00816D;background-repeat: no-repeat;background-position:center;color:white}
.lh-item{height:80px;width:220px;display:flex;align-items:center}
.lh-icon{height:80px;width:150px;display:flex;justify-content:center;align-items:center;color:#009981}
.lh-icon i{font-size:40px;transition:all 1s}
.lh-item:hover> .lh-icon i{background-color:#009981;font-size:80px;color:white;border-radius: 10px}
.lh-text{height:80px;width:220px;padding:15px;transition:all 2s}
.lh-item:hover> .lh-text{background-color:#009981;color:white;border-radius: 10px}
.pandalon{margin-top: 120px}
.pandanho{margin-top: 200px;margin-left: 350px}


.slide-top {
	-webkit-animation: slide-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 8:22:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.fade-out1 {
	-webkit-animation: fade-out 2s ease-out infinite both;
	        animation: fade-out 2s ease-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 22:47:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out2 {
	-webkit-animation: fade-out 2s ease-out 1s infinite both;
	        animation: fade-out 2s ease-out 1s infinite both;
}



/*pandalon*/
.slide-in-left {
	-webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	        animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-8 2:56:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*pandalon*/

/*pandanho*/

.slide-in-right {
	-webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-8 2:58:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*pandanho*/






